

/*.banner{
    background-image: url("../img/dragonball.png");
    background-position: top center;
    background-size: cover;
    padding: 25% 10% 30% 5%;
    background-attachment: fixed;
    position:relative;
    z-index: 1;
}

.banner::after{
    content: '';
    background-color: black;
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: -1;
    top:0;
    left:0;
    opacity: 0.4;
}*/

.banner{
    background-image: url("../img/Banner2.jpg");
    background-position: top center;
    background-size: cover;
    padding: 20%;
    background-attachment: fixed;
}

.menu{
    background-color: #DDF1EF   ;
}

.container{
    background-color: #DDF1EF   ;
    padding: 3em;
    overflow: hidden;
}

.card{
    margin: 4%;
    padding: 1%;
    float: left;
    
}

